* {padding: 0; margin: 0;}

/* MENU */
menu {
    position: relative;
    background: white; 
    height: 80px; 
    line-height: 60px;
}
menu .kiri img{
    position: absolute;
    height: 40px;
    width: auto;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background: white; 
}
menu .tengah {
    margin-left: 150px;
}
menu ul li {
    float: left; 
    list-style: none; 
    background: white;
    margin-top: 10px;
}
menu ul li a {
    margin-right: 15px;
    text-decoration: none;
    padding: 3px 15px;
    color: black;
}
menu ul li ul {display: none;}
menu ul li:hover > ul {display: block;}
menu ul li ul {position: absolute;}
menu ul li ul li {
    float: none;
    position: relative;
}
menu ul li a:hover {color: #a2d2ff;}

menu .kanan {
    float: right;
    margin-top: 10px;
}
menu .kanan img:hover {
    width: 40px;
    background-color: black;
}

/* HOME BACKGROUND */
.wallpaper .homebg img {
    width: 100%;
    height: 600px;
}
.wallpaper {
    width: 100%;
    height: 500px;
    margin: auto;
}
.textwall {
    position: absolute;
    width: 50%;
    bottom: 60%;
    top: 40%;
    left: 25%;
}
.textwall .text1 {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    margin-top: -60px;
    color: white;
    font-size: 30px;
}

/* FORM 1 */
.form1 {
    background: black;
    padding: 40px;
    overflow: hidden;
    margin-top: 100px;
    color: white;
}
.form1 .isi1 {
    float: left;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
}
.form1 .isi2 {
    overflow: hidden;
    float: left;
}
.form1 .isi2 input.inputText {
    line-height: 30px;
    width: 180px;
    margin-right: 20px;
    background: black;
    border-radius: 5px;
}
.form1 .isi2 input {
    line-height: 27px;
    padding: 10px;
    width: 180px;
    margin-right: 20px;
    background: grey;
    color: white;
    border-radius: 5px;
}
.form1 .isi2 select {
    margin-right: 20px;
    margin-top: 1px;
    width: 180px;
    padding: 17px;
    background: grey;
    color: white;
    border-radius: 5px;
}
.form1 .search {
    display: inline;
}
.search input[type=submit] {
    padding: 20px;
    background-color: #ef233c;
    width: 100px;
    border-radius: 5px;
}
.search input[type=submit]:hover {
    background-color: #4cc9f0;
}

/* POPULAR DESTINATION */
h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}
p {
    text-align: center;
    margin-top: 10px;
}

/* PHOTO GALLERY */
.gallery {
    margin-bottom: 100px;
    position: relative;
}
.foto {
    width: 350px; 
    float: left; 
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}
.foto img {
    width: 100%; 
    height: auto;
    border-radius: 2%;
}
.foto .judul {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.foto .angka {
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: #4cc9f0;
    border-radius: 10px;
}
.foto:hover .judul {
    color: #ef233c;
}
.foto:hover .angka {
    background-color: #ef233c;
}
.foto:hover img {
    margin-top: -10px;
}


/* SUBSCRIBE */
.subscribe {
    position: relative;
    background-color: #3d5a80;
    text-align: left;
    padding: 50px;
    height: 80px;
    width: 100%;
    margin-top: 100px;
    display: flex;
}
.skiri {
    float: left;
    margin-left: 200px;
}
.skiri h2 {
    text-align: left;
    color: white;
}
.skiri p {
    text-align: left;
    color: white;
}
.skanan {
    float: left;
}
.skanan input.inputText {
    line-height: 50px;
    width: 350px;
    margin-right: 20px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
}
.skanan input[type=submit] {
    padding: 20px;
    background-color: #ef233c;
    width: 100px;
    border-radius: 5px;
    color:white
}
.skanan input[type=submit]:hover {
    background-color: #4cc9f0;
}

/* PHOTO GALLERY 2 */
.gallery1 {
    margin-bottom: 100px;
    position: relative;
}
.foto1 {
    width: 350px; 
    float: left; 
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}
.foto1 img {
    width: 100%; 
    height: auto;
    border-radius: 2%;
}
.foto1 .judul {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.foto1 .keterangan {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.foto1 .harga {
    position: absolute;
    width: 20%;
    height: auto;
    background-color: #4cc9f0;
    border-radius: 40%;
    top: 10%;
    left: 5%;
    font-size: 12px;
    color: white;
    padding: 6px;
    text-align: center;
}
.foto1:hover .judul {
    color: #ef233c;
}
.foto1:hover .harga {
    background-color: #ef233c;
}
.moreplaces input[type=submit] {
    padding: 20px;
    background-color: #ef233c;
    width: 200px;
    border-radius: 10px;
    border-color: white;
    color: white;
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 100px;
}
.moreplaces input[type=submit]:hover {
    background-color: #4cc9f0;
}

/* ICON */
.icon {
    overflow: hidden;
    margin-top: 100px;
}
.icon .icon1 {
    width: 200px;
    float: left;
    margin-right: 30px;
    margin-left: 165px;
    position: relative;
}
.icon1 img {
    width: 60%; 
    height: auto;
}
.icon1 .judul {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 15px;
}
.icon1 .keterangan {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

/* TEST */
.test {
    background-color: #EEF3F9;
    margin-top: 100px;
    margin-bottom: 150px;
    line-height: 50px;
}
.test img {
    height: 100px;
    width: auto;
    margin-left: 600px;
    margin-top: 50px;
}
.test h3 {
    text-align: center;
}

/* PHOTO GALLERY 3 */
.gallery3 {
    margin-bottom: 100px;
    position: relative;
}
.foto3 {
    width: 350px; 
    float: left; 
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}
.foto3 img {
    width: 100%; 
    height: auto;
    border-radius: 2%;
}
.foto3 .judul {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
    color: #adb5bd;
}
.foto3 .keterangan {
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.foto3:hover .keterangan {
    color:#ef233c;
}

/* FOOTER */
footer {
    margin-top: 200px;
    background-color: #040E27;
    display:inline-flex;
    color: white;
    width: 100%;
}
footer a:hover {
    color:#ef233c;
}
footer .footer1 {
    float: left;
}
.footer1 img {
    height: 60px;
    line-height: 300px;
    margin-top: 50px;
    margin-left: 50px;
}
.footer1 p{
    text-align: left;
    margin-left: 50px;
}
footer .footer2 {
    float: left;
    margin-left: 50px;
}
.footer2 h2 {
    text-align: left;
    margin-left: 60px;
    margin-top: 70px;
}
.footer2 a {
    list-style: none;
    margin-top: 20px;
    margin-left: 60px;
    display:flex;
    text-decoration: none;
    color: white;
}
footer .footer3 {
    width: 500px;
    margin-top: 70px;
    margin-left: 50px;
}
footer .footer3 ul li {
    margin-top: 8px;
    list-style: none;
    float: left;
    width: 148px;
    line-height: 36px;
}
footer .footer3 ul li a {
    text-decoration: none;
    color: white;
}
footer .footer3 a:hover {
    color:#ef233c;
}
footer .footer4 {
    position: relative;
}
.footer4 h2 {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 50px;
}
.footg {
    width: 80px; 
    float: left; 
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.footg img {
    width: 100%; 
    height: auto;
}
.bot {
    background-color: #040E27;
    color: white;
    text-align: center;
    list-style: none;
    padding: 50px;
}
.bot a {
    text-decoration: none;
    list-style: none;
    color: #ef233c;
}